button {
    width: 150px;
    height: 30px;
    background-color: aquamarine;
    font-size: 20px;
    margin-top: 5px;
}

button:hover {
    background-color: cornflowerblue;
}

.bodydiv {
    margin: auto;
    text-align: center;
}

h1, h2 {
    text-align: center;
}